[submodule "plugins/redmine_custom_field_aggregator"]
	path = plugins/redmine_custom_field_aggregator
	url = https://github.com/occ-corp/redmine_custom_field_aggregator
[submodule "plugins/redmine_text_format_selector"]
	path = plugins/redmine_text_format_selector
	url = https://github.com/Tomohiro/redmine_text_format_selector
[submodule "plugins/redmine_gantt_view_overwrite"]
	path = plugins/redmine_gantt_view_overwrite
	url = https://github.com/occ-corp/redmine_gantt_view_overwrite
[submodule "plugins/csv_import_issues"]
	path = plugins/csv_import_issues
	url = https://github.com/occ-corp/csv_import_issues
	branch = occ
