[submodule "plugins/redmine_gantt_view_overwrite"]
	path = plugins/redmine_gantt_view_overwrite
	url = http://git.es.occ.co.jp:8080/git/redmine/redmine_gantt_view_overwrite.git
[submodule "plugins/custom_field_aggregator"]
	path = plugins/custom_field_aggregator
	url = http://git.es.occ.co.jp/git/redmine/custom_field_aggregator.git
